<div class="container" id="mushroom-list">
  <div class="container" id="all-mushrooms-list">
    <form class="navbar-form navbar-right" id="search-mushrooms" width>
      <div class="input-group">
      <input type="text" class="form-control" id="search-my-mushrooms" placeholder="search mushrooms..."></input>
      <button name="search" type="submit" class="btn btn-default" id="submit">Submit</button>
    </div>
  </div>
</form>
    <div class="container" id="mushroom-display">
    </div><!--end of single mushroom display-->
  </div><!--end of all mushrooms display container -->
</div> <!--end of mushroom-list container-->
