<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="lib/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- TODO: Initialize our app -->
<body ng-app="MushroomApp">

  <!-- TODO: Add a nav controller -->
  <!-- <div ng-include= "'partials/navbar.html'"></div> -->
  <div ng-include= "'partials/mushroom-list.html'"</div>
  <!-- <div ng-include= "'partials/mushroom-details.html'"</div> -->

  <!-- start of body -->
  <!-- <div ng-controller="MushroomListCtrl"> -->
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <!-- Let's call a js function from our HTML. wat? -->
          <button class="col-xs-6 btn btn-success" ng-click="newItem()">New Item</button>
          <button class="col-xs-6 btn btn-info" ng-click="allItem()">All Items</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 main-container">
            <div class="col-xs-12" ng-view></div>
          </div>
        </div>
      </div>
    </div>

<!-- dependencies -->
<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
<script type="text/javascript" src="lib/node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="lib/node_modules/bootstrap/dist/js/bootstrap.min.js">
</script>
<script type="text/javascript" src="lib/node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="lib/node_modules/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="lib/node_modules/firebase/firebase.js"></script>

<!-- controllers -->
<script type="text/javascript" src="/app/app.js"></script>
<!-- <script type="text/javascript" src="app/values/fb-creds.js"></script> -->

<script type="text/javascript" src="/app/factories/FilterFactory.js"></script>
<script type="text/javascript" src="/app/factories/MushroomFactory.js"></script>

<!-- <script type="text/javascript" src="/app/controllers/NavCtrl.js"></script> -->
<script type="text/javascript" src="/app/controllers/MushroomListCtrl.js"></script>
<script type="text/javascript" src="/app/controllers/MushroomViewCtrl.js"></script>

</body>
</html>
